@{
    ViewBag.Title = "灭神管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/js/plugins/zTree/3.5/zTreeStyle/zTreeStyle.css?201811201906" rel="stylesheet" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">

        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div>
                        <div>
                            <div class="btn-group hidden-xs" id="MieShenTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-w-m btn-success authorization" action-id="role-add" action-name="查询" style="display: none; margin-right: 10px" v-on:click="_FreshTable">查询</button>
                                <button type="button" class="btn btn-w-m btn-success authorization" action-id="role-edit" action-name="查看详情" style="display: none;margin-right: 10px" v-on:click="_MieShenEdit">查看详情</button>
                                <div class="input-group" style="display: inline-block">
                                    <input type="text" placeholder="请输入账号名" class="form-control input-md" id="username" style="width: 150px;display: inline-block" v-on:keyup.enter="_FreshTable" data-pure-clear-button />
                                </div>
                            </div>
                                <table id="MieshenTable" data-side-pagination="server" data-sort-order="desc" data-mobile-responsive="true"></table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/plugins/zTree/3.5/jquery.ztree.all.js?201811201906"></script>

    <script type="text/javascript">
        var zTree;
        var editTree;
        var vm = new Vue({
            el: 'body',
            data: {
                menuTree: [],
                roleAddName: '',
                roleAddDesc: '',
                currentRow: {}
            },
            computed: {},
            ready: function () {
                auth();
            },
            methods: {
                _FreshTable: function () {
                    try {
                        $(".bootstrap-table button[name='refresh']")[0].click();
                    } catch (e) {

                    }
                },
               _MieShenEdit: function () {
                    var selectRow = $('#MieshenTable').bootstrapTable('getSelections');
                    if (selectRow.length < 1) {
                        swal({
                            title: "",
                            text: "请选择行！",
                            type: "error"
                        });
                        return;
                   }
                   alert(JSON.stringify(selectRow));
                      


                },
               
                
               
            }
        });

        $(function () {
            $('#MieshenTable')
                .bootstrapTable({
                    ajax: ajaxRequest,
                    pageNumber: 1,
                    pageSize: 10,
                    pageList: [10, 25, 50, 100],
                    resetOffset: true,
                    search: false,
                    sortable: true,
                    pagination: true,
                    height: $(window).height(),
                    showRefresh: true,
                    showToggle: true,
                    showColumns: false,
                    striped: true,
                    sortOrder: 'desc',
                    clickToSelect: true,
                    singleSelect: true,
                    cache: false,
                    // showPaginationSwitch:true,
                    dataType: "json",
                    iconSize: 'outline',
                    toolbar: '#MieshenTableEventsToolbar',
                    icons: {
                        refresh: 'glyphicon-repeat',
                        toggle: 'glyphicon-list-alt',
                        columns: 'glyphicon-list'
                    },
                    columns: [
                        {
                            field: 'state',
                            title: '',
                            checkbox: true
                        },
                        {
                            field: 'gamename',
                            title: '游戏名'
                        },
                        {
                            field: 'platfrom',
                            title: '平台'
                        },
                        {
                            field: 'region',
                            title: '区服'
                        },
                        {
                            field: 'username',
                            title: '账号'
                        },
                        {
                            field: 'status',
                            title: '状态'
                        },
                        {
                            field: 'rolename',
                            title: '角色名'
                        }
                        ,
                        {
                            field: 'profession',
                            title: '职业'
                        } ,
                        {
                            field: 'map',
                            title: '地图'
                        } ,
                        {
                            field: 'mapxy',
                            title: '坐标'
                        } ,
                        {
                            field: 'cookieinfo',
                            title: 'cookie值'
                        }
                    ],
                    onLoadSuccess: function () {

                    },
                    onToggle: function () {
                    },
                    onEditableSave: function (field, row, oldValue, $el) {

                    }
                });

            $(window).resize(function () {
                $('#MieshenTable').bootstrapTable('resetView', { height: $(window).height() });
            });

            
        });


        function ajaxRequest(params) {
            var pageSize = params.data.limit;
            var pageIndex = params.data.offset / params.data.limit + 1;
            var orderBy = params.data.sort;
            var orderSequence = params.data.order;
            QQT.ajax('/Admin/MieShen/GetMieShenList',
                'POST',
                {
                    pageIndex: pageIndex,
                    pageSize: pageSize,
                    orderBy: orderBy,
                    orderSequence: orderSequence,
                    userName: $.trim($('#username').val()),
                    
                })
                .done(function (response) {
                    params.success({
                        total: response.Total,
                        rows: response.Rows
                    });
                });

        }
        
 

    </script>

}
