@{
    ViewBag.Title = "灭神产出查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <script src="~/js/My97DatePicker/WdatePicker.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div>
                        <div>
                            <div class="btn-group hidden-xs" id="MieShenEveryTableEventsToolbar" role="group">
                                <button type="button" class="btn btn-w-m btn-success " action-name="查询" style="margin-right: 10px" v-on:click="_FreshTable">查询</button>
                                <div class="input-group" style="display: inline-block">
                                    <input class="form-control js-example-data-array-selected text-box" id="regionpaltform" style="width: 150px;" />
                                </div>
                                <div class="input-group" style="display: inline-block">
                                    <input type="text" placeholder="请输入区服" class="form-control input-md" id="region" style="width: 150px;display: inline-block" data-pure-clear-button />
                                </div>
                                <div class="input-group" style="display: inline-block">
                                    <input id="bdate" name="bdate" class="form-control input-md" type="text" placeholder="请输入时间" style="width: 150px;display: inline-block" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" data-pure-clear-button>
                                </div>
                            </div>
                            <table id="MieShenEveryTable" data-side-pagination="server" data-sort-order="desc" data-mobile-responsive="true"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/list/mieshenlist.js"></script>
    

}
